@inherits LayoutComponentBase

<div class="page">
    <NavBar />

    <main>
        @Body
    </main>

    <footer>
        <div class="bg-dark p-4 mt-5">
            <p class="text-center text-white">&copy; 2026 Yves Shema</p>
        </div>
    </footer>
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
